<div fxLayout="column" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <h1>Buscar Héroe</h1>

    <mat-divider></mat-divider>
    <br />

    <h3>Buscador</h3>

    <mat-form-field fxFlex="100" class="example-full-width">
      <mat-label>Nombre del héroe</mat-label>
      <input
        type="text"
        placeholder="Ej: Superman"
        aria-label="Number"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscando()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="seleccionarHeroe($event)"
      >
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>

        <mat-option
          *ngIf="heroes.length === 0 && termino.trim().length > 0"
          [value]=""
        >
          No se econtraron resultados para {{ termino }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div fxFlex="50" *ngIf="heroeSeleccionado">
    <div>
      <pre> {{ heroeSeleccionado | json }}</pre>
    </div>
    <!-- <app-heroe-tarjeta
      fxFlex="40"
      [heroe]="heroeSeleccionado"
    ></app-heroe-tarjeta> -->
  </div>
</div>
